.container-headeradm{
    display: block;
    background-color: #EAEAEA;
    font-family: sans-serif;
    width: 371px;
    height: 800px;
    z-index: 1;
}

.componets_adm{
    text-decoration: none;
    color: black;
}
 .componets_adm::after{
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    padding-bottom: 4.5px;
    margin: 5px;
    border-radius: 7px;
    background-color: gold;
    transition: 0.6s;
    margin-left: 83px;
}

.componets_adm:hover::after,
.componets_adm:active{
    width: 23%;
}

.container-header-main .button-home{
    float: right;
    width: 202px;
    height: 60px;
    background-color: #EA9B3A;
    border: none;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: auto 3vw auto auto;
    box-shadow: 1px 1px 10px black;
    transform: .1s scale(1); transition: all .1s;
}

.buttons{
    display: flex;
}

.button-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.button-home:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.container-header-main .button-home p{
    margin: 20px;
}
.container-header-logo h2{
    width: 10px;
    font-size: 20px;
    margin: auto auto auto 1em;
    font-weight: 400;
}

.container-header-logo{
    display: flex;
    flex-direction: row;
    width: 15em;
    margin: auto auto auto 2em;
    padding: auto;
}

.footer-admin{
    position: relative;
    z-index: -1;
    margin: 35vh auto auto auto;
}