@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patua+One&display=swap');

.container-deleted{
    display: none;
}

.container-blocks{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 1000px;
    margin: auto;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.container-blocks div{
    
}