@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patua+One&display=swap');

.container-deleted{
    display: none;
}

.container-value{
    height: 820px;
}

.container-value h2{
    font-family: "Patua One", serif;
    font-size: 47px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 0 80px 0;
    height: 300px;
}

.container-blocks{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
}

.container-blocks p{
    margin: 20px;
}

.bg-yellow{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #FFC326;
    border-radius: 50%;
}

.container-blocks img{
    width: 180px;
    height: 180px;
}