/* Peoples.css */

/* Table styling */
table {
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin: auto;
    font-size: 1rem;
    text-align: left;
}

/* Table header styling */
thead {
    background-color: #f4f4f4;
}

thead th {
    padding: 10px;
    border: 1px solid #ddd;
    font-weight: bold;
}

/* Table row styling */
tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

/* Table cell styling */
td {
    padding: 10px;
    border: 1px solid #ddd;
}